.App {
  text-align: center;
}

.App-header {
  margin-top: 100px;
  background-color: white;
}

.mainLogo {
  max-width: 64px;
  max-height: 64px;
}

.App-intro {
  font-size: large;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
